In [2]:
#start date: 11/03/2024
#project_title: Flight Price Prediction with Flask app – with source code – data visualizations – interesting project – 2024
#project_link:

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
import pickle

#Reading training data
train_data = pd.read_excel('Data_Train.xlsx')
print(train_data.head())

#checking values
print(train_data['Destination'].value_counts())

#Merging Delhi and New Delhi
def newd(x):
    if x == 'New Delhi':
        return 'Delhi'
    else:
        return x

train_data['Destination'] = train_data['Destination'].apply(newd)

print(train_data.info())

#Making Datetime columns with day and month
train_data['Journey_day'] = pd.to_datetime(train_data['Date_of_Journey'],format='%d/%m/%Y').dt.day
train_data['Journey_month'] = pd.to_datetime(train_data['Date_of_Journey'],format='%d/%m/%Y').dt.month
train_data.drop('Date_of_Journey',inplace=True,axis=1)
print(train_data.head())

#Extracting hours and minutes from time
train_data['Dep_hour'] = pd.to_datetime(train_data['Dep_Time']).dt.hour
train_data['Dep_min'] = pd.to_datetime(train_data['Dep_Time']).dt.minute
train_data.drop('Dep_Time',axis=1,inplace=True)

train_data['Arrival_hour'] = pd.to_datetime(train_data['Arrival_Time']).dt.hour
train_data['Arrival_min'] = pd.to_datetime(train_data['Arrival_Time']).dt.minute
train_data.drop('Arrival_Time',axis=1,inplace=True)

print(train_data.head())
print(train_data['Duration'].value_counts())

#stop date: 20/03/2024
#end date:

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302
Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB
None
       Airline    Source Destination                  Route Dep_Time  \
0       IndiGo  Banglore       Delhi              BLR → DEL    22:20
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05
4       IndiGo  Banglore       Delhi        BLR → NAG → DEL    16:50

   Arrival_Time Duration Total_Stops Additional_Info  Price  Journey_day  \
0  01:10 22 Mar   2h 50m    non-stop         No info   3897           24
1         13:15   7h 25m     2 stops         No info   7662            1
2  04:25 10 Jun      19h     2 stops         No info  13882            9
3         23:30   5h 25m      1 stop         No info   6218           12
4         21:35   4h 45m      1 stop         No info  13302            1

   Journey_month
0              3
1              5
2              6
3              5
4              3
       Airline    Source Destination                  Route Duration  \
0       IndiGo  Banglore       Delhi              BLR → DEL   2h 50m
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR   7h 25m
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK      19h
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR   5h 25m
4       IndiGo  Banglore       Delhi        BLR → NAG → DEL   4h 45m

  Total_Stops Additional_Info  Price  Journey_day  Journey_month  Dep_hour  \
0    non-stop         No info   3897           24              3        22
1     2 stops         No info   7662            1              5         5
2     2 stops         No info  13882            9              6         9
3      1 stop         No info   6218           12              5        18
4      1 stop         No info  13302            1              3        16

   Dep_min  Arrival_hour  Arrival_min
0       20             1           10
1       50            13           15
2       25             4           25
3        5            23           30
4       50            21           35
2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: Duration, Length: 368, dtype: int64